@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap");

.Pokeitem {
  width: 80%;
  display: flex;
  justify-content: space-around;
  border: 1px black solid;
  margin: 20px;
  padding: 40px;
}

.Pokeitem img {
  width: 15%;
  margin-right: 50px;
}

.Pokeitem h2 {
  width: 60%;
  text-align: center;
  outline: none;
  cursor: pointer;
  font-family: "cairo", sans-serif;
  font-size: 25px;
}

.links_poke {
  text-decoration: none !important;
  color: black;
}

@media (max-width: 412px) {
  .Pokeitem {
    flex-direction: column;
    width: 70%;
  }
}

@media (max-width: 449px) {
  .Pokeitem h2 {
    width: 40%;
  }
}
@media (max-width: 731px) {
  .Pokeitem {
    justify-content: flex-start;
  }
}
@media (max-width: 759px) {
  .Pokeitem h2 {
    width: 30%;
    margin: auto;
  }
}
@media (max-width: 642px) {
  .Pokeitem h2 {
    width: 20%;
    margin: auto;
  }
}

.fa-heart {
  color: red;
  width: 15%;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 50px;
}

@media (max-width: 1233px) {
  .fa-heart {
    margin: auto;
  }
}
