@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap");

.search {
  margin-top: 20px;
  height: 40px;
  width: 400px;
  padding: 10px;
  font-size: 25px;
  border: 1px black solid;
  font-family: "cairo", sans-serif;
}
